*{
    margin: 0px;
    padding: 0px;
    
    }

    .nav{

        padding: 5px;    
        /* display: flex;    */
        justify-content: space-between;
        background-color: white;
        color: rgb(94, 90, 90);
        font-size: 20px;
        position: sticky;
        top: 0;
        }
    span{
        margin: 10px;
        /* display: flex; */
        padding: 2px;
        margin-right: 150px;
    }
    nav>span{
        justify-content: center;
        flex: 1;
    }
    .image{
     width: 2px;
     height: 2px;
        
    }

    .img{
        background-color: aquamarine;
        width: 100%;
        height: 50vh;
    }
    .content{
        padding: 800px;
    }
    .sub{
        display:flex
    }
    .sub1{
        display:flex;
        flex:1;
        padding:10px;
        /* background-color: aqua; */
        color:black;
    }