.container{
    width: 100%;
    height:70vh;
    display: flex;
    align-items: center;
    overflow-y: hidden;

}
img{
    width: 250px;
    height: 250px;
    margin: 20px;
    transition: 3s;

}
img:hover{
    transform: rotate(360deg);
    /* transform: scaleY(2); */
    /* transform: skew(30deg); */
    /* transform: skewY(30deg); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}